@model IEnumerable<eCommerceMVC.ViewModels.CompareProducts>
@{
    ViewBag.Title = "VaccumCompare";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/Compare.css" type="text/css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" rel="stylesheet" />
    <title>EnterCustomer</title>
</head>
@*Navigation Bar*@
<nav class="navbar navbar-default navbar-fixed-top customstylenav">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="~/Images/Logo.png" alt="Logo" class="img-responsive imagelogo" />
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navform">
                <button class="btn btn-primary dropdown-toggle btn-sm" style="height: 34px;" type="button" data-toggle="dropdown">
                    Category
                    <span class="caret"></span>
                </button>
                <ul class="dropdownbtn dropdown-menu">
                    <li><a href="#">FAN</a></li>
                    <li><a href="#">VACCUM</a></li>
                    <li><a href="#">TOASTER</a></li>
                </ul>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-primary searchbtn"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li><img src="~/Images/img_avatar.png" alt="profileImage" class="img-responsive imageprofile img-circle" /></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<style>
    table, th, td {
        border: 2px solid grey;
        border-collapse: collapse;
    }

    th, td {
        padding: 5px;
        text-align: left;
    }

    .rowback {
        font: bold 12 px;
    }
</style>

<br /><br /><br />
<table style="width:100%">
    <tr>
        <td style="height:150px"></td>
        @foreach (var obj in Model as IEnumerable<eCommerceMVC.ViewModels.CompareProducts>)
        {
            <td style="text-align:center"><img src=@obj.ImageURL height="200" width="200" /></td>
        }

    </tr>
    <tr>
        <td class="rowback" colspan="3"><b>DESCRIPTION</b></td>
    </tr>
    <tr>

        <td class="rowback" style="width:110px"><b>Manufacture</b></td>
        @foreach (var obj in Model as IEnumerable<eCommerceMVC.ViewModels.CompareProducts>)
        {
            <td>@obj.MaunfactureIdName</td>
        }
    </tr>
    <tr>
        <td class="rowback"><b>Series</b></td>
        @foreach (var obj in Model as IEnumerable<eCommerceMVC.ViewModels.CompareProducts>)
        {
            <td>@obj.SeriesName</td>
        }
    </tr>
    <tr>
        <td class="rowback"><b>Model</b></td>
        @foreach (var obj in Model as IEnumerable<eCommerceMVC.ViewModels.CompareProducts>)
        {
            <td>@obj.ModelName</td>
        }
    </tr>
    <tr>
        <td class="rowback" colspan="3"><b>TYPE</b></td>
    </tr>
    <tr>
        <td class="rowback"><b>Use Type</b></td>
        @foreach (var obj in Model as IEnumerable<eCommerceMVC.ViewModels.CompareProducts>)
        {
            <td>@obj.UseType</td>
        }
    </tr>
    <tr>
        <td class="rowback"><b>Application</b></td>
        @foreach (var obj in Model as IEnumerable<eCommerceMVC.ViewModels.CompareProducts>)
        {
            <td>@obj.Application</td>
        }
    </tr>
    <tr>
        <td class="rowback"><b>Mounting Location</b></td>
        @foreach (var obj in Model as IEnumerable<eCommerceMVC.ViewModels.CompareProducts>)
        {
            <td>@obj.MountingLocation</td>
        }
    </tr>
    <tr>
        <td class="rowback"><b>Acessories</b></td>
        @foreach (var obj in Model as IEnumerable<eCommerceMVC.ViewModels.CompareProducts>)
        {
            <td>@obj.Accessories</td>
        }
    </tr>
    <tr>
        <td class="rowback"><b>Model Year</b></td>
        @foreach (var obj in Model as IEnumerable<eCommerceMVC.ViewModels.CompareProducts>)
        {
            <td>@obj.ModelYear</td>
        }
    </tr>
    <tr>
        <td class="rowback" colspan="3"><b>TECHNICAL SPECS</b></td>
    </tr>
    <tr>
        <td class="rowback"><b>Level of Suction</b></td>
        @foreach (var obj in Model as IEnumerable<eCommerceMVC.ViewModels.CompareProducts>)
        {
            <td>@obj.LevelOfSuction</td>
        }
    </tr>
    <tr>
        <td class="rowback"><b>Height</b></td>
        @foreach (var obj in Model as IEnumerable<eCommerceMVC.ViewModels.CompareProducts>)
        {
            <td>@obj.Height</td>
        }
    </tr>
    <tr>
        <td class="rowback"><b>Operating Voltage</b></td>
        @foreach (var obj in Model as IEnumerable<eCommerceMVC.ViewModels.CompareProducts>)
        {
            <td>@obj.OperatingVoltageMax</td>
        }
    </tr>
    <tr>
        <td class="rowback"><b>Weight</b></td>
        @foreach (var obj in Model as IEnumerable<eCommerceMVC.ViewModels.CompareProducts>)
        {
            <td>@obj.Weight</td>
        }
    </tr>
</table>





