@model eCommerceMVC.ViewModels.ProductSummary

@{
    ViewBag.Title = "VacuumSummary";
}
<!DOCTYPE html>
<head>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/ProductSummary.css" type="text/css" rel="stylesheet" />
</head>

<body>
    @*<div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("ProductSummary", "ProductSummary")
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("ProductDetails", "ProductDetails")
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>*@
    <nav class="navbar navbar-default">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("ProductSummary", "ProductSummary")</li>
                <li>@Html.ActionLink("ProductDetails", "ProductDetails")</li>
                <li>@Html.ActionLink("Product Documentation", "Product Documentation")</li>
                <li>@Html.ActionLink("Contact", "Contact")</li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
    @*<ul>
            <li class="navbar"> @Html.ActionLink("ProductSummary", "ProductSummary")</li>
            <li class="navbar"> @Html.ActionLink("ProductDetails", "ProductDetails")</li>
            <li class="navbar"> @Html.ActionLink("Product Documentation", "Product Documentation")</li>
            <li class="navbar"> @Html.ActionLink("Contact", "Contact")</li>
        </ul>*@
    <div>
        <div class="product_title">Product Summary</div>
        <div class="col-md-6">
            <table class="table">
                <tr>
                    <th width="50%">
                        DESCRIPTION
                    </th>
                    <th width="50%"></th>
                </tr>
                <tr>
                    <td class="description" width="50%">Manufacture</td>
                    <td width="50%">@Model.MaunfactureIdName</td>
                </tr>
                <tr>
                    <td class="description" width="50%">Series</td>
                    <td width="50%">@Model.SeriesName</td>
                </tr>
                <tr>
                    <td class="description" width="50%">Model</td>
                    <td width="50%">@Model.ModelName</td>
                </tr>
            </table>
            <table class="table">
                <tr>
                    <th width="50%">
                        TYPE
                    </th>
                    <th width="50%"></th>
                </tr>
                <tr>
                    <td class="description" width="50%">Use Type</td>
                    <td width="50%">@Model.UseType</td>
                </tr>
                <tr>
                    <td class="description" width="50%">Application</td>
                    <td width="50%">@Model.Application</td>
                </tr>
                <tr>
                    <td class="description" width="50%">Accessories</td>
                    <td width="50%">@Model.Accessories</td>
                </tr>
                <tr>
                    <td class="description" width="50%">Model Year</td>
                    <td width="50%">@Model.ModelYear</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <table class="table">
                <tr>
                    <th>
                        TECHNICAL SPECIFICATIONS
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td class="description" width="50%">Air Flow(CFM)</td>
                    <td width="12.5%">@Model.AirFlow</td>
                    <td width="12.5%"></td>
                    <td width="12.5%"></td>
                    <td width="12.5%"></td>
                </tr>
                <tr>
                    <td class="description">Power(W)</td>
                    <td class=" description">Min</td>
                    <td>@Model.PowerMin</td>
                    <td class=" description">Max</td>
                    <td>@Model.PowerMax</td>
                </tr>
                <tr>
                    <td class="description">Operating Voltage(VAC)</td>
                    <td class=" description">Min</td>
                    <td>@Model.OperatingVoltageMin</td>
                    <td class=" description">Max</td>
                    <td>@Model.OperatingVoltageMax</td>
                </tr>
                <tr>
                    <td class="description">Fan speed(RPM)</td>
                    <td class=" description">Min</td>
                    <td>@Model.FanSpeedMin</td>
                    <td class=" description">Max</td>
                    <td>@Model.FanSpeedMax</td>
                </tr>
                <tr>
                    <td class="description">Number of fan speeds</td>
                    <td>@Model.NumOfFanSpeed</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="description">Sound at max speed(dBA)</td>
                    <td>@Model.SoundAtMaxSpeed</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="description">Height(in)</td>
                    <td class=" description">Min</td>
                    <td>@Model.HeightMin</td>
                    <td class=" description">Max</td>
                    <td>@Model.HeightMax</td>
                </tr>
                <tr>
                    <td class="description">Weight(lbs)</td>
                    <td>@Model.Weight</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</body>


