@model eCommerceMVC.Models.User

@{
    ViewBag.Title = "Register";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="modal fade" tabindex="-1" id="loginModal"
         data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">X</button>
                    <h4 class="modal-title">Register as User</h4>
                </div>
                <div class="modal-body">
                    <form id="newregister" action="@Url.Action(" Register", "Register" )" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="exampleInputImage">Image Preview</label>
                            <br />
                            <img src="~/Images/ProfileImages/" class="profileImage" />
                            <br />
                            <label for="exampleInputFile">File input</label>
                            <input type="file" name="file" id="exampleInputFile">
                            @Html.ValidationMessageFor(model => model.Picture, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text"
                                   placeholder="User Name" name="newusername" id="inputUserName" />
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text"
                                   placeholder="Email Id" name="newuseremail" id="inputEmail" />
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password"
                                   type="password" name="newuserpassword" id="inputPassword" />
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Confirm Password"
                                   type="password" id="inputConfirmPassword" />
                            @*                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })*@
                        </div>
                    </form>

                    @Html.ViewData["Message"]
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" form="newregister">Sign</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script type="text/javascript">
            $(document).ready(function () {
                $(".signupLink").click(function () {
                    $("#loginModal").modal('show');
                });
                $("#btnHideModal").click(function () {
                    $("#loginModal").modal('hide');
                });
            });
    </script>
</body>
</html>
